xml/1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AllExceptionTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ExceptionType">          
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ExceptionType">
  <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="listOfLinesForException" type="xs:string" />
              <xs:element name="solution" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
		  </xs:element>
</xs:schema>